@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <a asp-controller="Employee" asp-action="Add">Go to employee add</a>
        <h1 style="color:red";>
            Hello from index2
        </h1>
    </body>
</html>